<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB" value="Test" />    
  </appSettings>

  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>