<?xml version="1.0" encoding="utf-8" ?>

<!-- SISTEMA COMANDI -->

<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig"/>
  </configSections>

  <usrConfig>
    <add type="path" key="pathExportSisComTerna" desc="Percorso file SisCom Terna (XML)" value="\\srvegt02\GestioneDirESOTL-GDTI\Inbox" test="C:\Test" emergenza="C:\Emergenza"/>

    <!-- backup NON CANCELLARE-->
    <!--add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\SISTEMACOMANDI" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/-->

    <add type="to" key="destMailTest" desc="Destinatari mail (Test)" value="" test="bidding@gruppoiren.it" />
    <add type="subject" key="oggettoMail" desc="Oggetto della Mail" value="%COD%: valori di PMAX e PMIN per il giorno %DATA%" visibile="false" />
    <add type="body" key="messaggioMail" desc="Contenuto della Mail" value=
"Inviamo i valori orari di Pmin e Pmax inseriti nel Sistema Comandi di Terna per le Unità di Produzione indicate in oggetto.
I quantitativi potrebbero essere oggetto di offerta per i mercati dei servizi di dispacciamento (MSD) e quindi passibili di cambiamento. In tal caso invieremo un file con i nuovi valori.
         
(annulla e sostituisce eventuali precedenti invii) 
         
         
Saluti 
         
Bidding &amp; Dispatching 
Power Management 
Iren Energia S.p.A 

C.so Svizzera, 95 Torino 
Tel.: 01119563644 
Fax: 01119563642 
Cell: 3480850579 

Email: bidding@gruppoiren.it 
Emergenza Email: opsiet@libero.it"
         visibile="false" />
  </usrConfig>
  
  <appSettings>
    <add key="AppID" value="8" />
  </appSettings>

  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>