<?xml version="1.0" encoding="utf-8"?>
<!-- OFFERTE MI -->
<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig" />
  </configSections>
  <usrConfig>
      <add type="path" key="pathOfferteSuggerite" desc="Percorso file Offerte Suggerite (XML)" value="\\srvebas.aem.torino.it\LocalDoc" test="C:\Test" emergenza="C:\Emergenza"/>
    <!-- backup NON CANCELLARE-->
    <!--add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\SISTEMACOMANDI" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/-->
  </usrConfig>
  <appSettings>
    <add key="AppID" value="18" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>