<?xml version="1.0" encoding="utf-8"?>
<!-- OFFERTE MB -->
<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig" />
  </configSections>
  <usrConfig>
    <add type="path" key="pathOfferteSuggerite" desc="Percorso file Offerte Suggerite (XML)" value="\\srvebas.aem.torino.it\LocalDoc" test="C:\Test" emergenza="C:\Emergenza"/>
  </usrConfig>
  <appSettings>
    <add key="AppID" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>