<?xml version="1.0" encoding="utf-8" ?>

<!-- PROGRAMMAZIONE IMPIANTI -->

<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig"/>
  </configSections>

  <usrConfig>
    <!--add type="path" key="pathExportDatiTopici" desc="Percorso file Dati Topici (XML)" value="\\srvebas.aem.torino.it\LocalDoc" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathExportMP_MGP" desc="Percorso file Migliori Previsioni (CSV)" value="\\master.local\to\dati3\siet\db_impianti\2min" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathExportSisComTerna" desc="Percorso file SisCom Terna (XML)" value="%UserProfile%\Desktop" test="C:\Test" emergenza="C:\Emergenza" /-->

    <!-- backup NON CANCELLARE-->
    <!--add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\PROGRAMMAZIONEIMPIANTI" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/-->
    
  </usrConfig>

  <appSettings>
    <add key="AppID" value="5" />
  </appSettings>

  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>