<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    
  <supportedRuntime version="v2.0.50727" sku="Client"/></startup>


  <appSettings>
    <add key="basePath" value="D:\Users\e-bergamin\Desktop\EPEX"/>
    <add key="baseURL" value="http://www.terna.it"/>
    <add key="dwnldURL" value="/default/Home/SISTEMA_ELETTRICO/transparency_report/Generation/Forecast_generation_wind.aspx"/>
    <!--add key ="data" value="20150422"/-->
  </appSettings>

</configuration>
