<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  
  
  <appSettings>
    <add key="basePath" value="D:\Users\e-bergamin\Desktop\EPEX"/>
    <add key="baseURL" value="http://www.epexspot.com/en/market-data/dayaheadauction/auction-table/"/>
    <add key="startDate" value=""/>
    <add key="endDate" value=""/>
  </appSettings>

</configuration>
