<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="markets" value="MSD1,MSD2,MSD3,MSD4" />
    <add key="pathInput" value="\\master.local\TO\IDRO\AREA IDROELETTRICA\TLC_ROSONE\" />
    <add key="pathOutput" value="c:\Test" />
    <add key="cod_rup1" value="UP_ROSONE_1" />
    <add key="cod_rup2" value="UP_ORCO_1" />
    <add key="cod_rup3" value="UP_TELESSIO_1" />
    <add key="cod_rup4" value="UP_VILLA_1" />
    <add key="pathFormat1" value="[DATE_yyyMMdd]_[MSD]_436_[CODRUP]_OEIESRD.xml" />
    <add key="pathFormat2" value="FMS_[CODRUP]_[MSD]D_[DATE_yyyyMMdd].xml.OEIESRD.out.xml" />
    <add key="pathFormat3" value="FMS_[CODRUP]_[MSD]D_[DATE_yyyyMMdd].csv.OEIESRD.out.csv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>