<?xml version="1.0" encoding="utf-8" ?>

<!-- INVIO PROGRAMMI -->

<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig"/>
  </configSections>

  <usrConfig>
    <add type="path" key="pathExportFileUS" desc="Percorso file US (XML)" value="\\srvebas.aem.torino.it\ArchiveDocIn" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathExportFileFMS" desc="Percorso file FMS (XML)" value="\\srvebas.aem.torino.it\ArchiveDocIn" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathExportFileRS" desc="Percorso file Riserva Secondaria (XML)" value="\\srvegt02.master.local\GestioneDirESOTL-GDTI\Archive" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathExportFileXSD" desc="Percorso file XSD" value="\\master.local\TO\MERCATO_ELE\Programmazione\Strumenti\InvioProgrammi_XSD" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathCopyFileFMS1" desc="Percorso copia file FMS (server1)" value="\\master.local\to\dati8\TLC3" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathCopyFileFMS2" desc="Percorso copia file FMS (server2)" value="\\master.local\to\dati8\TLC3" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="path" key="pathExportFileRosone" desc="Percorso file xml e csv Rosone" value="\\master.local\TO\IDRO\AREA IDROELETTRICA\TLC_ROSONE\" test="C:\Test" emergenza="C:\Emergenza" />
    <add type="nameFormat" key="formatoNomeFileUS" desc="Formato nome file US" value="US_[MSD]D_[yyyyMMdd]" visibile="false" />
    <add type="nameFormat" key="formatoNomeFileFMS" desc="Formato nome file FMS" value="FMS_[CODRUP]_[MSD]D_[yyyyMMdd]" visibile="false" />
    <add type="nameFormat" key="formatoNomeFileFMS_TERNA" desc="Formato nome file FMS TERNA" value="[yyyyMMdd]_[MSD]_436_[CODRUP]" visibile="false" />
    <add type="nameFormat" key="formatoNomeFileRS_TERNA" desc="Formato nome file RS TERNA" value="[yyyyMMdd]_[MSD]_433_OEIESRD" visibile="false" />
    
    <!-- backup NON CANCELLARE-->
    <!--add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\INVIOPROGRAMMI" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/-->
    
    <add type="to" key="destMailTest" desc="Destinatari mail" value="" test="bidding@gruppoiren.it"/>
    <add type="subject" key="oggettoMail" desc="Oggetto della Mail" value="%COD% – %MSD%° Programma di produzione per il giorno %DATA%" visibile="false" />
    <add type="body" key="messaggioMail" desc="Contenuto della Mail" value=
"Vi inviamo in allegato il programma di produzione in oggetto.

Cordiali saluti



Bidding &amp; Dispatching 
Power Management 
Iren Energia S.p.A 

C.so Svizzera, 95 Torino 
Tel.: 01119563644 
Fax: 01119563642 
Cell: 3480850579 

Email: bidding@gruppoiren.it 
Emergenza Email: opsiet@libero.it"
         visibile="false" />
  </usrConfig>

  <appSettings>
    <add key="AppID" value="2" />
  </appSettings>


  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>