<?xml version="1.0" encoding="utf-8" ?>

<!-- OFFERTE MGP -->

<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig"/>
  </configSections>

  <usrConfig>
    <add type="path" key="pathExportDatiTopici" desc="Percorso file Dati Topici (XML)" value="\\srvebas.aem.torino.it\LocalDoc" emergenza="C:\Emergenza" test="C:\Test"/>
    <add type="path" key="pathExportOFFERTE_MGP" desc="Percorso file Offerte Suggerite (XML)" value="\\srvebas.aem.torino.it\LocalDoc" emergenza="C:\Emergenza" test="C:\Test"/>
    <add type="path" key="pathExportOFFERTE_MGP_GME" desc="Percorso file Offerte Suggerite GME (XML)" value="C:\Emergenza" emergenza="C:\Emergenza" test="C:\Test"/>

    <!-- backup NON CANCELLARE-->
    <!--add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\OFFERTEMGP" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/-->
  </usrConfig>
  
  <appSettings>
    <add key="AppID" value="1" />
  </appSettings>
  
  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>