<?xml version="1.0" encoding="utf-8"?>
<!-- PREZZI MSD -->
<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig"/>
  </configSections>

  <usrConfig>
    <add type="path" key="pathCaricatorePEXCA" desc="Percorso caricatore di PEXCA" value="\\master.local\to\MERCATO_ELE\Programmazione\Strumenti\CaricatorePEXCA\IN" test="C:\Test" emergenza="C:\Emergenza"/>

    <!-- backup NON CANCELLARE-->
    <add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\PREZZIMSD" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/>
    
  </usrConfig>
  
  <appSettings>
    <add key="AppID" value="7"/>
  </appSettings>

  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
