<?xml version="1.0" encoding="utf-8" ?>

<!-- PREVISIONE GAS -->

<configuration>
  <configSections>
    <section name="usrConfig" type="Iren.PSO.UserConfig.UserConfiguration, UserConfig"/>
  </configSections>

  <usrConfig>
    <!-- backup NON CANCELLARE-->
    <!--add type="pathNoCheck" key="backup" desc="Percorso di Backup" value="C:\Emergenza\PREVISIONEGAS" visibile="false"/>
    <add type="pathNoCheck" key="exportXML" desc="Percorso per export XML" value="C:\Emergenza\DatiComuni" visibile="false"/-->

    <add type="to" key="destMailTest" desc="Destinatari mail (Test)" value="" test="bidding@gruppoiren.it" />
    <add type="subject" key="oggettoMail" desc="Oggetto della Mail" value="Previsione Consumo GAS: valori previsione fatta in data %DATA% %ORA%" visibile="false" />
    <add type="body" key="messaggioMail" desc="Contenuto della Mail" value=
"Inviamo i valori della previsione del consumo gas.
         
(annulla e sostituisce eventuali precedenti invii) 
         
         
Saluti 
         
%NOMEUTENTE% 
Iren Energia S.p.A.
Power Management
Bidding &amp; Dispatching"
         visibile="false" />
  </usrConfig>

  <appSettings>
    <add key="AppID" value="15" />
  </appSettings>


  <connectionStrings>
    <add name="Dev" connectionString="Server=srvpso;Initial Catalog=PSO_Dev;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Test" connectionString="Server=srvpso;Initial Catalog=PSO_Test;Integrated Security = SSPI;Connect Timeout=5" />
    <add name="Prod" connectionString="Server=srvpso;Initial Catalog=PSO;Integrated Security = SSPI;Connect Timeout=5" />
  </connectionStrings>
</configuration>